.container{
    display: grid;
    width: 100vw;
    /*
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
    left: 70px;
    top: 60px;
    z-index: 0;
    */
}

/*configuracion informacion*/
.box-sup{
    /*
    position: absolute;
    width: 92%;
    height: 350px;
    left: 0;
    top: 0;
    border: 1px solid #9f9f9f;
    */
    display: flex;
    width: 95vw;
    border: 1px solid #9F9F9F;
    margin: 10px;
    padding: 10px;
}

.info{
    display: grid;
    margin: auto;
}

.titulo{
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 5px;
}

.sub_titulo{
    font-size: 16px;
    font-weight: 1000;
    color: #333333;
    margin-top: 5px;
}

.box-int{
    display: flex;
    margin: 10px;
    width: 93vw;
    border-radius: 0.2vw;
    box-shadow: 0.2vw 0.2vw 0.5vw #00000036;
}

.box-cent{
    box-sizing: border-box;

    position: absolute;
    width:92%;
    height: 350px;
    left: 0;
    top: 370px;
    border: 1px solid #9f9f9f;
    display: flex;
    flex-direction: column;
}
.solc{
    margin:15px;
    height: 30vh;
}
.title{
    padding: 20px;
}
.btnVer{
    width: 20vw;
    height: 55px;
    margin: 10px;
    /*
    height: 55px;
    width:20vw;
    position: absolute;
    justify-self: right;
    float: right;
    margin-top: -13px;
    */
}
.line{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
.dat{
    position: relative;
    margin-top: -12px;
    padding-left:10%;
}
.line #fec{
    margin-right: 30%;
}
.line #est{
    padding-left: 2%;
}
.dats{
    height: 100%;
    width: 100%;
    justify-content: left;
    align-items: left;
}
.mat-grid-tile #dats1{
    width: 80%;
    justify-content: left;
    align-items: left;
}